$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin media-breakpoint-up($name) {
  @media (min-width: map-get($breakpoints, $name)) {
    @content;
  }
}

@mixin media-breakpoint-down($name) {
  @media (max-width: map-get($breakpoints, $name)) {
    @content;
  }
}


// flex flex-column w-full
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.object-contain {
  object-fit: contain;
}

.object-cover {
  object-fit: cover;
}

.justify-content-center {
  justify-content: center;
}

.p-3 {
  padding: 12px;
} 

.max-w-sm {
  max-width: 200px;
}